body {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;    
}

.caja {
    background-color: rgb(173, 201, 201); 
}

.naranja {
    background-color: rgb(241, 144, 34);
}

.azul {
    background-color: rgb(14, 157, 157);
}

.morado {
    background-color: rgb(93, 28, 122);
}

#selectorColores {
    float: right;
    margin: 20px;
    border-radius: 50px;
    border-color: rgb(255, 255, 255);
    text-align: center;
}

h1 {
    position: relative; 
    display: inline;
}

#foto {
    width: 200px; 
    margin:15px; 
    border-radius: 50%; 
    border-width: 10px; 
    border-color: rgb(255, 255, 255); 
    border-style: solid;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

#perfil {
    position: absolute; 
    top: 16%; 
    left: 45%; 
    width: 500px;
    font-size: 20px;
    padding-left: 20px;
}

nav {
    display: flex; 
    justify-content: center; 
    padding: 20px; 
    font-weight: bolder;
}

#menu {
    display: inline-flex; 
    margin: 0 15px; 
    list-style-type: none;
}

.itemsMenu { /* #menu > li > a */
    padding: 20px; 
    text-decoration: none; 
    color: rgb(53, 149, 77);
}

.itemsMenu:hover {
    color: #308c95;
    text-decoration: underline;
}

.itemsMenu:active {
    color: rgb(15, 51, 85);
}

section > p {
    text-align: center; 
    padding-top: 10px;
}

.descripcion {
    text-align: justify;
}

.linkProyectos {
    color: rgb(14, 97, 28);
    font-size: 18px;
    text-transform: capitalize;
    display: block;
    text-decoration: none;
    font-weight: bold;
    padding-left: 40px;
}

#arrowLeft {
    padding-right: 20px;
    padding-bottom: 20px;
}

a:hover {
    color: rgb(30, 50, 121);
}

a:active {
    color: rgb(58, 64, 73);
}

#descripcionPerfil {
    padding-left: 15%; 
    padding-right: 15%; 
    padding-top: 20px;
}

.descargar {
    padding-left: 15%; 
    padding-top: 10px;
}

#btnDescargar {
    background-color:rgb(53, 149, 77); 
    padding: 10px; 
    width: 20%;
}

#btnDescargar:hover {
    background-color:  rgb(72, 250, 122);
    cursor: pointer;
}

#btnDescargar:active {
    background-color:  rgb(72, 164, 250);
}

#btnDescargar > a {
    color: aliceblue; 
    font-weight: bolder; 
    text-decoration: none;
}

.acordeon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    outline: none;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: auto;
    align-items: center;

   /* margin-left: 10%;  */
}

.active, .acordeon:hover {
    background-color: rgb(230, 232, 234);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.panel {
    overflow: hidden;
}

h4 {
    padding-left: 10%; 
    padding-top: 10px;
}

h5 {
    padding-left: 10%; 
    color: rgb(53, 149, 77);
}

.descripcion ul {
    padding-left: 15%; 
    padding-right: 15%; 
    list-style-type: circle; 
}

.descripcion p {
    padding-left: 15%; 
    padding-right: 15%;
}

#cursosCompementarios {
    padding-left: 10%; 
    text-align: center; 
    padding-top: 10px;
}

.referencias {
    padding-left: 15%; 
    padding-top: 10px;
}

#listaReferencias {
    padding-left: 15%; 
    padding-right: 15%; 
    list-style-type: square;
}

/* Footer */
footer {
    background: url(../imagenes/bg.jpg); 
    background-size: cover;
    text-align: center; 
    align-items: center;
    /* position: relative;  */
    width: 100%; 
    bottom: 0;
    padding-top: 20px; 
    margin-top: auto;
}

footer > p {
    padding-bottom: 25px; 
    color: aliceblue;
}

/* RESPONSIVE */

@media screen and (max-width:480px) {
    body {
        width: 100%;
      font-size: 14px;
    }

    header {
        width: 100%;    
    }

    #foto {
        width: 35%; 
    }
    #perfil {
        top: 17%; 
        font-size: 14px;
    }
    
    #menu {
        display: inline-block; 
        text-align: left;
    }

    .itemsMenu { 
        display: flex;
        padding-bottom: 1px;     
    }

    .itemsMenu:hover {
        border-bottom: 2px solid white; 
    }

    .linkProyectos {
        font-size: 12px;
        padding-left: 20px;
    }

    #btnDescargar {
        width: 100px;
    }

    h4 {
        padding-right: 20px;
    }
  }